@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

@font-face {
    font-family: "Icon Font";
    font-style: normal;
    font-weight: 400;
    src:  url("../font/CV_icon.woff2") format("woff2"),
        url("../font/CV_icon.woff") format("woff");
    font-display: swap;
}
