/* 
/* [ About ]: Box
/* ================================== */
.about .box {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-right: 0;
    padding-bottom: 105px;
}

.about__content {
    padding-top: 60px;
}

.about__second-title {
    width: 463px;
    margin-bottom: 38px;
}

.about__second-title span {
    color: var(--color-3);
}

.about__description {
    max-width: 605px;
    font: 400 20px/30px var(--font-family__base);
}

.about img {
    max-width: 465px;
    margin-top: -8px;
}
