/* 
/* [ Prices ]
/* ================================== */
.prices {
    padding-top: 38px;
    padding-bottom: 116px;
}

.prices .box {
    display: flex;
    justify-content: space-between;
}

/* 
/* [ Prices ]: Cost
/* ================================== */
.prices__cost {
    font: 700 20px/20px var(--font-family__base);
    color: var(--color-5);
}

.prices__cost .prices__second-title {
    font: 700 40px/50px var(--font-family__base);
    color: var(--color-5);
}

.prices__options {
    display: grid;
    grid-gap: 32px;

    padding: 34px 41px;
    margin-top: 58px;

    border: 1px solid var(--color-7);
    border-radius: 20px;
}

.prices__options .item {
    position: relative;
    width: 250px;
    height: 50px;
    padding: 16px 110px 16px 40px;

    background: var(--bg-section);
    border-radius: 20px;
}

.prices__options .item::before {
    position: absolute;
    left: 190px;
    top: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 4px;
    
    color: var(--color-2);
    background-color: var(--color-8);
    font-size: 8px;
    border-radius: 50%;
    cursor: pointer;
}

/* 
/* [ Prices ]: Content
/* ================================== */
.prices__content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}

.prices__content .prices__second-title {
    max-width: 482px;
    margin-bottom: 39px;
    font: 700 40px/50px var(--font-family__base);
    color: var(--color-5);
}

.prices__second-title span {
    color: var(--color-1);
}

.prices .button--secondary {
    margin-bottom: 38px;
    padding: 12px 32px;
}

.prices img {
    max-width: 158px;
}
