/* 
/* [ Service ]: Layout
/* ================================== */
.service {
    padding-top: 30px;
    padding-bottom: 29px;
    background-color: var(--color-10);
}

/* Tablet+ */
@media screen and (min-width: 768px) {
    .service {
        padding-top: 60px;
        padding-bottom: 72px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .service {
        padding-top: 40px;
        padding-bottom: 184px;
    }
}

/* 
/* [ Service ]: Option
/* ================================== */
.service__option {
    margin-bottom: 42px;
}

.service__second-title {
    max-width: 187px;
    margin-bottom: 35px;
    color: var(--color-1);
} 

.service__types {
    display: flex;
    grid-gap: 9px;
    flex-wrap: wrap;
}

.service__types button {
    min-width: 121px;
    padding: 6px 28px;
    font: 15px/20px var(--font-family__extra);
}

/* Tablet+ */
@media screen and (min-width: 768px) {
    .service__second-title {
        max-width: 265px;
        margin-bottom: 42px;
        font: 35px/46px var(--font-family__extra);
    }

    .service__types {
        grid-gap: 37px;
    }

    .service__types button {
        min-width: 161px;
        padding: 11px 35px;
        font: 20px/26px var(--font-family__extra);
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .service__option {
        display: grid;
        grid-gap: 6% 9%;
        grid-template-columns: repeat(3,1fr);

        margin-bottom: 79px;
        align-items: center;
    }

    .service__second-title {
        max-width: 300px;
        margin-bottom: 0;
        font: 40px/52px var(--font-family__extra);
    }

    .service__types {
        grid-column: 2/4;
    }

    .service__types button {
        padding: 11px 43px;
    }
}

/* 
/* [ Service ]: Projects
/* ================================== */
.service__projects {
    display: flex;
    grid-gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
}

.service__info {
    max-width: 281px;
    border: 1px solid var(--color-7);
    border-radius: 20px;
}

.service__box {
    padding: 3px 36px 15px;
    text-align: center;
}

.service img {
    position: relative;
    left: -1px;
    top: -1px;
    right: -1px;

    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.service__third-title {
    margin-bottom: 11px;
    color: var(--color-3);
}

.service__description {
    color: var(--color-2);
    font: 16px/20px var(--font-family__base);
}

/* Tablet+ */
@media screen and (min-width: 768px) {
    .service__box {
        padding: 0 36px 17px;
    }

    .service__info {
        max-width: 282px;
    }

    .service__projects {
        grid-gap: 42px 104px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .service__projects {
        display: grid;
        grid-gap: 6.5% 9.5%;
        grid-template-columns: repeat(3,1fr);
    }

    .service__box {
        padding: 5px 30px 15px;
        text-align: center;
    }

    .service__info {
        max-width: 330px;
    }

    .service__third-title {
        margin-bottom: 13px;
    }

    .service__description { 
        padding-bottom: 16px;
        font-size: 14px;
    }
}
