/* 
/* [ Welcome ]
/* ================================== */
.welcome {
    padding-top: 52px;
    padding-bottom: 66px;
    background-color: var(--bg-section);
}

.welcome .box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.welcome__image {
    max-width: 448px;
}

/* 
/* [ Welcome ]: Content
/* ================================== */
.welcome__content {
    padding-top: 44px;
    padding-left: 10%;
}

.welcome__title {
    margin-bottom: 45px;
}

.welcome__title span {
    color: var(--color-1);
}

.welcome__description {
    font: 20px/35px var(--font-family__base);
    max-width: 535px;
    margin-bottom: 47px;
}

.welcome__content .button--primary {
    padding: 10px 25px;
}
