/* 
/* [ About-me ] + Text
/* ================================== */

.about-me {
    position: relative;
}

.about-me::before {
    content: '';

    position: absolute;
    top: -40px;
    left: -30px;

    display: block;
    height: 50px;
    width: calc(100% + 60px);

    background: linear-gradient(180deg, rgba(28,27,30,1) 0%, rgba(44,44,44,1) 100%);
}

.about-me .text {
    display: grid;
    grid-gap: 15px;
}
